
/////////////////////////////////////////////
/////////////////////////////////////////////

// bg
$pageBackground: var(--pageBackground);

// general
$foregroundColorMain: var(--foregroundColorMain);
$backgroundColorMain: var(--backgroundColorMain);
$alternativeColor: var(--alternativeColor);
