@import 'core';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  > .section {
    display: flex;
    margin: 10px 0;
    padding: 10px 0;
    background-color: $backgroundColorMain;

    > .label {
      width: 60px;
      padding-left: 10px;
    }

    > textarea {
      width: calc(100% - 105px);
      background-color: transparent;
      border: solid 3px $foregroundColorMain;
      border-radius: 6px;
      padding: 10px;
      color: $foregroundColorMain;
      font-size: 1.1rem;

      &.title {
        height: 60px;
      }

      &.body {
        height: 130px;
      }
    }
  }
}
